<section id="subscripcion" class="subscripcion">
<div class="container">

<article class="columnas">

<div class="col_2">
  <h4 class="subs_title">{{ subs_title_0 }}<br>{{ subs_title_1 }}<br>{{ subs_title_2 }}</h4>
</div>

<div class="col_2">

<p>{{ subs_body_0 }}<br>{{ subs_body_1 }}</p>
<form id="utpost_subs" method="post">
  <div class="form_correo">
    <input id="correo_subs" name="correo_subs" class="correo_subs" type="email" placeholder="Correo electrónico" aria-label="correo_subs">
    <button id="go_subs" class="go" aria-label="go_subs">¡Go!</button>
  </div>
</form>
</div>

</article>

</div>
</section>
